# Chatbot Kustomization
# Task: P5-T-100
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app.kubernetes.io/name: chatbot
  app.kubernetes.io/component: chatbot
  app.kubernetes.io/part-of: phase5-chatbot
